extends layout
block content  
  .jumbotron
    h1 FitLife
    p.lead Learn to live fit. Create a workout plan. Track your nutrition. Share your progress.
    a.btn.btn-large.btn-success(href="#") Get started today