extends layout
block content
  .jumbotron
    .container.pull-left
      h4 Photo Line
    .hero-unit
      ul.thumbnails
        li.span4
          img.img-polaroid(src="http://placehold.it/480x300")
          span.badge.info.badge-inverse Week 5
          p Photo Line showing body progress
        li.span4
          img.img-polaroid(src="http://placehold.it/480x300")
          span.badge.info.badge-inverse Week 4
          p Another Photo

    .container.pull-left
      h4 Nutrition
    .hero-unit
      .row
        dl.dl-horizontal
          dt Calories
          dd
            .progress
              .bar.bar-success(style="width: 80%;")
              .bar.bar-warning(style="width: 20%;")
          dt Protein
          dd
            .progress
              .bar.bar-success(style="width: 80%;")
              .bar.bar-warning(style="width: 5%;")
          dt Fat
          dd
            .progress
              .bar(style="width: 70%;")
          dt Carbs
          dd
            .progress
              .bar.bar-success(style="width: 80%;")
              .bar.bar-warning(style="width: 10%;")
    .container.pull-left
      h4 Activity
    .hero-unit
      .row
          