extends layout
block content
  .jumbotron
      .row
        .panel
          .panel-heading.bs-panel-heading
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='.bs-collapse-calendar', style='width: 100%;') Photo Line
          .row
            .col-lg-3
              a.thumbnail
                img.img-polaroid(src="http://placehold.it/480x300")
              span.badge.info.badge-inverse Week 5
              p Photo Line showing body progress
            .col-lg-3
              a.thumbnail
                img.img-polaroid(src="http://placehold.it/480x300")
              span.badge.info.badge-inverse Week 4
              p Another Photo
      .row
        .panel
          .panel-heading.bs-panel-heading
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='.bs-collapse-calendar', style='width: 100%;') Nutrition
          .hero-unit
            .row
              .col-lg-4
              .col-lg-8
               dl.dl-horizontal
                dt Calories
                 dd
                   .progress
                     .progress-bar.progress-bar-success(style="width: 80%;")
                     .progress-bar.progress-bar-warning(style="width: 20%;")
                 dt Protein
                 dd
                   .progress
                     .progress-bar.progress-bar-success(style="width: 80%;")
                     .progress-bar.progress-bar-warning(style="width: 5%;")
                 dt Fat
                 dd
                   .progress
                     .progress-bar(style="width: 70%;")
                 dt Carbs
                 dd
                   .progress
                     .progress-bar.progress-bar-success(style="width: 80%;")
                     .progress-bar.progress-bar-warning(style="width: 10%;")
      .row
        .panel
          .panel-heading.bs-panel-heading
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='.bs-collapse-calendar', style='width: 100%;') Activity
          .hero-unit

      .row
        .panel
          .panel-heading.bs-panel-heading
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='.bs-collapse-calendar', style='width: 100%;') Social
          .hero-unit