extends layout
block content
  .jumbotron
    .container-fluid
      .row-fluid
        .accordion
          .accordion-group
            .accordion-heading
              a.accordion-toggle.btn(style='text-align: left;')
                span Photo Line
            .accordion-body
              .accordion-inner
                .hero-unit
                 ul.thumbnails
                   li.span4
                     img.img-polaroid(src="http://placehold.it/480x300")
                     span.badge.info.badge-inverse Week 5
                     p Photo Line showing body progress
                   li.span4
                     img.img-polaroid(src="http://placehold.it/480x300")
                     span.badge.info.badge-inverse Week 4
                     p Another Photo
      .row-fluid
        .accordion
          .accordion-group
            .accordion-heading
              a.accordion-toggle.btn(style='text-align: left;')
               span Nutrition
            .accordion-body
              .accordion-inner
                .row-fluid
                  .span4
                  .span8
                    .hero-unit
                       .row
                         dl.dl-horizontal
                           dt Calories
                           dd
                             .progress
                               .bar.bar-success(style="width: 80%;")
                               .bar.bar-warning(style="width: 20%;")
                           dt Protein
                           dd
                             .progress
                               .bar.bar-success(style="width: 80%;")
                               .bar.bar-warning(style="width: 5%;")
                           dt Fat
                           dd
                             .progress
                               .bar(style="width: 70%;")
                           dt Carbs
                           dd
                             .progress
                               .bar.bar-success(style="width: 80%;")
                               .bar.bar-warning(style="width: 10%;")
      .row-fluid
        .accordion
          .accordion-group
            .accordion-heading
              a.accordion-toggle.btn(style='text-align: left;')
               span Activity
            .accordion-body
              .accordion-inner
                .row-fluid
                  .span4
                  .span8
      .row-fluid
        .accordion
          .accordion-group
            .accordion-heading
              a.accordion-toggle.btn(style='text-align: left;')
               span Social
            .accordion-body
              .accordion-inner
                .row-fluid
                  .span4
                  .span8
