/*
@media (min-width: 980px) {

    body {
	padding-top: 60px;
    }

}
*/

body {
    padding-top: 50px;
}


/* Custom container */
/*
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container > hr {
    margin: 0 auto;
    max-width: 1000px;
}
*/

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.bs-docs-nav {
    background: #563d7c;
}


/* Customize custom controls */

.bs-panel-heading {
    padding: 0px;
}

.scrollDiv {
    overflow: auto;
    max-height: 500px;
}

/* Customize footer */

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.bs-footer p {
    margin-bottom: 0;
    color: #777;
}